.Cards {
  width: 100vw;
  height: 674px;
  height: 685px;

  &_container {
    width: 1280px;
    height: 570px;
    margin: auto;
    display: flex;
    gap: 30px;
    position: relative;

    &_left {
      width: 953px;
      height: 570px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      position: relative;

      &_card::before {
        position: absolute;
        content: '';
        background: #1E2123;
        opacity: 0.4;
        top: 0; right: 0; bottom: 0; left: 0;
        border-radius: 10px;
      }

      &_card {
        height: 270px;
        border-radius: 10px;
        position: relative;

        &_wrap {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border-radius: 10px;
          padding: 37px;
          font-weight: 700;
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 21.25px;

          &_title-1 {
            width: fit-content;
            font-size: 13px;
            line-height: 16px;
            background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
          }

          &_title-2 {
            width: fit-content;
            font-size: 25px;
            line-height: 30px;

            color: #FFFFFF;

            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          }

          &_buttons {
            width: 365px;
            height: 80px;
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.7);

            &_item {
              height: 33px;
              background: #664EF9;
              border-radius: 16px;
              box-sizing: border-box;
              padding: 8px 14px;
              cursor: pointer;
            }
          }

          &_round-button {
            width: 39.43px;
            height: 39.43px;
            position: absolute;
            right: 21px;
            bottom: 23px;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            box-sizing: border-box;
            padding: 10px 15px;
            cursor: pointer;

            &_chevron {
              width: 9px;
              height: 16px;
              background: url('../../../public/svg/chevron-right-white.svg');
            }
          }
        }
      }
    }

    &_right {
      width: 297px;
      height: 560px;

      &_box {
        width: 100%;
        margin-bottom: 40px;

        &_title {
          height: 22px;
          margin-bottom: 15px;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #333333;
        }

        &_list {
          width: 100%;
          height: 152px;
          
          &_item:not(:last-child) {
            margin-bottom: 10px;
          }

          &_item {
            width: 100%;
            height: 17px;
            display: flex;
            justify-content: space-between;

            &_title:hover {
              margin-left: 7px;
            }

            &_title {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #FEB700;
              cursor: pointer;
              transition-duration: .2s;
            }

            &_amount {
              font-weight: 400;
              color: #BDBDBD;
            }

            &_more {
              height: 20px;
              width: 43px;
              border-bottom: 1px solid #FEB700;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #FEB700;

              &::after {
                content: url('../../../public/svg/chevron-yellow.svg');
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
  }
}

.wide {
  width: 516px;
}

.narrow {
  width: 407px;
}

.apartments {
  background-image: url('../../../public/jpg/apartments.jpg');
}

.cottages {
  background-image: url('../../../public/jpg/cottages.jpg');
}

.saunas {
  background-image: url('../../../public/jpg/saunas.jpg');
}

.cars {
  background-image: url('../../../public/jpg/cars.jpg');
}

.apartmentsList {
  height: 189px;
}

.cottagesList {
  height: 170px;
}

.directList {
  height: 125px;
}

.DottedBoxYellow {
  position: absolute;
  top: 612px;
  left: -30px;
}