.ErrorPage {
  position: relative;
  width: 1440px;
  height: 599px;
  background: linear-gradient(360deg, #7E6AF3 15.95%, #6540CD 63.1%);

  &_img {
    width: 1440px;
    height: 599px;
    background: url('../../../public/png/city-map.png');
    mix-blend-mode: overlay;
    //opacity: 0.2;
    filter: blur(2px);
  }

  &_container {
    position: absolute;
    top: 175px;
    left: 189px;
    width: 1027px;
    height: 239px;
    display: flex;
    

    &_left {
      width: 474px;
      height: 239px;

      &_title {
        width: 474px;
        height: 73px;
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        color: #FFFFFF;
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
      }

      &_text {
        box-sizing: border-box;
        width: 447px;
        height: 68px;
        margin-top: 10px;
        margin-bottom: 40px;
        padding: 10px;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }

      a {
        text-decoration: none;
      }

      &_button {
        position: relative;
        width: 249px;
        height: 48px;
        box-sizing: border-box;
        padding: 12px 24px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: end;
        color: #1E2123;
        background: #FFD54F;
        border-radius: 33px;
        cursor: pointer;

        &::before {
          content: url('../../../public/svg/home.svg');
          position: absolute;
          left: 24px;
        }

        &:hover {
          background: #FEC100;
        }
      }
    }

    &_right {
      width: 553px;
      height: 213px;
      margin-top: 11px;
      overflow: hidden;

      &_img {
        width: 590px;
        height: 273px;
        background: url('../../../public/svg/404.svg') -30px -29px /cover no-repeat;
      }
    }
  }
}

.DottedBoxYellow {
  position: absolute;
  top: 96px;
  left: 80px;
}

.DottedBoxWhite {
  position: absolute;
  top: 459px;
  right: 186px;
}