.Lease {
  width: 100vw;
  height: 970px;

  &_wrap::before {
    height: 100%;
    width: 806px;
    border-radius: 40px 0 0 0;
    background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
    opacity: 0.1;
    position: absolute;
    content: '';
    right: -80px;
  }

  &_wrap {
    position: relative;
    width: 1280px;
    height: 100%;
    margin: auto;

    &_container {
      width: 100%;
      height: 100%;
      position: absolute;
  
      &_header {
        width: 100%;
        height: 154px;
        display: flex;
        justify-content: space-between;

        &_left {

          &_title-1 {
            width: fit-content;
            font-weight: 600;
            background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            margin-top: 38px;
          }

          &_title-2 {
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            margin-top: 15px;
          }
        }

        &_right {
          margin-top: 59px;
          width: 400px;
          height: 40px;
          display: flex;
          justify-content: space-between;
          color: #686868;

          &_button {
            width: 185px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.1);
            border-radius: 20px;
            padding: 11px 17px 12px;
            box-sizing: border-box;
            position: relative;

            &::after {
              content: url('../../../public/svg/chevron-down.svg');
              position: absolute;
              left: 155px;
            }
          }
        }
      }

      &_board {
        width: 100%;
        height: 817px;

        &_cards {
          width: 100%;
          height: 522px;
          display: flex;
          gap: 31px;
        }

        &_navi {
          width: 100%;
          height: 110px;
          display: flex;
          justify-content: space-around;

          &_buttons {
            width: 92px;
            height: 40px;
            margin-top: 38px;
            display: flex;
            justify-content: space-between;

            &_left {
              width: 40px;
              height: 40px;
              box-sizing: border-box;
              border: 1px solid #664EF9;
              border-radius: 50%;
              cursor: pointer;
              position: relative;

              &::after {
                content: url('../../../public/svg/chevron-left.svg');
                position: absolute;
                top: 11px;
                left: 13px;
              }
            }

            &_right {
              width: 40px;
              height: 40px;
              box-sizing: border-box;
              border: 1px solid #664EF9;
              border-radius: 50%;
              cursor: pointer;
              position: relative;

              &::after {
                content: url('../../../public/svg/chevron-right.svg');
                position: absolute;
                top: 11px;
                left: 15px;
              }
            }

            &_left:hover, &_right:hover {
              background: rgba(102, 78, 249, 0.1);
            }
          }
        }

        &_info {
          width: 405px;
          height: 94px;
          display: flex;

          &_left {
            width: 203px;
            height: 100%;


            &_number {
              font-weight: 700;
              font-size: 60px;
              line-height: 73px;
              color: #1E2123;

              & span {
                color: #664EF9;
              }
            }

            &_text {
              color: #8291A3;
              opacity: 0.6;
            }
          }

          &_line {
            height: 70px;
            width: 2px;
            margin-top: 12px;
            background: linear-gradient(#94AFFF, #4E64F9);
          }

          &_right {
            width: 203px;
            height: 94px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            &_button {
              width: 177px;
              height: 37px;
              padding: 10px 42px 10px 18px;
              box-sizing: border-box;
              background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
              box-shadow: 0px 15px 40px rgba(0, 96, 206, 0.15);
              border-radius: 17px;
              font-weight: 700;
              color: #FFFFFF;
              text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
              position: relative;

              &::after {
                content: url('../../../public/svg/chevron-right-white-l.svg');
                position: absolute;
                right: 25.5px;
                top: 11px;
              }
            }
          }
        }
      }
    }
  }
}

.lease-btn-metro {
  position: relative;
  padding-left: 42px;

  &::before {
    content: url('../../../public/svg/metro-gray.svg');
    position: absolute;
    left: 14px;
    top: 9px;
  }
}
